@{
    ViewData["Title"] = "Create";
    
}
@model DeskAspMvc.Models.Models.Desk

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                @Html.CheckBoxFor(x=>x.Available)
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationKey" class="control-label"></label> 
               <div class="col-md-10">
                    @Html.DropDownList("locationKey", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationKey, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
